@inherits LayoutComponentBase
@using WishYourSong.Components

<PageTitle>WishYourSong</PageTitle>

<div class="page">

    <CustomAuthView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </CustomAuthView>

    <main>
        <div class="top-row px-4">
            <a href="" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />